.side-bar
  .side-bar__user-name
  
    .top-items
      .top-items__name
        nao
      .top-items__icons
        = link_to "#後ほど記載", class: "top-items__icons__btn top-items__icons__btn--edit" do
          = icon('far', 'edit', class: "top-items__icons__btn--edit")
          %span<>
        = link_to "#後ほど記載", class: "top-items__icons__btn top-items__icons__btn--cog" do
          = icon('fa', 'cog', class: "top-items__icons__btn--cog")
          %span<>
  .side-bar__group-list
    .groups
      .groups--name グループ名
      .groups--message まだメッセージがありません
    .groups
      .groups--name グループ名
      .groups--message まだメッセージがありません